@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Nunito:ital,wght@0,300;1,300&display=swap');

/* FONT */
body {
    font-family: 'Nunito', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat Alternates', sans-serif;
}
.footer-ico{
    font-size: calc(1.275rem + 0.3vw);
}
